.background {
    width: 100%;
    display:inline-block;
    background:#D8D6D6;
}

.headingDiv {
    width:100%;
    height: 30px;
    border:1px solid #000;
    background-color: rgb(255, 204, 255);
    display:inline-block;
    text-align:center;
}

.headingDiv  span {
    display:inline-table;
    list-style-type:none;
    padding:0px 20px;
}

.downDiv { 
    width:100%; 
    display:inline-block;   
}

.leftPanel {
    width:20%;
    height: auto;
    border:1px solid #000;
    float:left;
}

.rightSpan {
    width:79.5%;
    height: 300px;
    background-color: rgb(255,240,255);
    border:1px solid #000;
    float:left;
}

.hamburgerPanel {
    width: 100%;
    height: 50px; 
    border-right:1px solid #000;
}

.hamSpan {
    width: 50%;
    height: 50px;
    border:1px solid #000;
    background-color: rgb(255, 204, 255);
}

.pinSpan {
    width: 50%;
    height: 50px;
    margin-left: 128px;
    margin-top: -52px;
    border:1px solid #000;
    background-color: rgb(255, 204, 255);
}

.listPanel {
    width:100%;
    height: 248px;
    margin-top: 0px;
    border:1px solid #000;
    background-color: rgb(255, 204, 255);
}

.electronic {
    width:100%;
    height: auto;
    font: left;
    display:inline-block;
}

.autoMobiles {
    width: 100%;
    height: auto;
    display:inline-block;
}

.clothing {
    width: 100%;
    height: auto;
    display:inline-block;
}

.hamAndPinPanel { 
    height: 50px;
    background-color: rgb(255, 204, 255);
    float:left;
    width:100%;
}

.pin {
    left: 50px;
    -webkit-transform: rotate(90deg);
}

.opacity {
    opacity: 0.5;
}

.angle {
    -webkit-transform: rotate(95deg);
}

.increaseWidth {
    width: 100%;
}

.active {
    color: green;
}

.opacityDone {
    position: absolute;
    z-index: 999;
    left: 8px;
    top: 38px;
}