.background{
    width:1250px;
    height:650px;
    border:7px solid #000;
}

.heading{
    width:1250px;
    height:30px;
    border:2px solid #000;
    background-color: rgb(255, 204, 255);
}

.buttonDiv{
    width:198px;
    height:28px;
    border:2px solid #000;
    background-color: rgb(255, 204, 255);
}

.electronic{
    width:200px;
    height:600px;
    font: left;
    border:2px solid #000;
    display:inline-block;
    background-color: rgb(255, 204, 255);
}

.autoMobiles{
    width:200px;
    height:600px;
    border:2px solid #000;
    display:inline-block;
    background-color: rgb(255, 204, 255);
}

.clothing{
    width:200px;
    height:600px;
    border:2px solid #000;
    display:inline-block;
    background-color: rgb(255, 204, 255);
}

.paraDiv{
    width: 1000px;
    height: 600px;
    float: right;
}

.downDiv{
    background-color:rgb(255, 230, 255);
    width: 1250px;
    height: 600px;
    float: left;
}

.electronicSpan{
    margin-left:250px;
    display:inline-block;
}

.automobileSpan {
    display:inline-block;
}

.clotheSpan {
    margin-right:250px;
    display:inline-block;
}

.hamburger {
    border-top: double;
}

.pin {
    left: 50px;
    -webkit-transform: rotate(90deg);
}

.opacity {
    background-color:rgba(255, 204, 255, 0.1);
    filter: alpha(opacity=10);
}

.angle {
    -webkit-transform: rotate(95deg);
}

.hamSpan {
    width:100px;
    height:31px;
    margin-left: -4px;
    border:2px solid #000;
    background-color: rgb(255, 204, 255);
}

.pinSpan {
    width:96px;
    height:31px;
    margin-top: -35px;
    margin-left: 100px;
    border:2px solid #000;
    background-color: rgb(255, 204, 255);