.firstDiv{
    width:1250px;
    height:650px;
    border:7px solid #000;
    background-color: pink;
}

.secondDiv{
    width:1250px;
    height:30px;
    border:2px solid #000;
}

.thirdDiv{
    width:1250px;
    height:20px;
    border:2px solid #000;
}

.fourthDiv{
    width:200px;
    height:600px;
    font: left;
    border:2px solid #000;
    display:inline-block;
    background-color: yellow;
}

.fifthDiv{
    width:200px;
    height:600px;
    border:2px solid #000;
    display:inline-block;
    background-color: yellow;
}

.sixthDiv{
    width:200px;
    height:600px;
    border:2px solid #000;
    display:inline-block;
    background-color: yellow;
}

.seventhDiv{
    margin-top: 200px;
    margin-right: 250px;
    width: 550px;
    float: right;
}

.eigthDiv{
    background-color: grey;
    width: 1250px;
    height: 600px;
    float: left;
}

.firstSpan{
    margin-left:250px;
    display:inline-block;
}

.secondSpan{
    display:inline-block;
}

.thirdSpan{
    margin-right:250px;
    display:inline-block;
}

.fourthSpan{
    width:300px;
    height:650px border:2px solid #000;
}

p{
    display: none;
}

.hamburger{
    border-top: double;
}

.pin{
    margin-right: 200px;
    -webkit-transform: rotate(90deg);
}

.opacity{
    opacity: 0.5;
}