.background{
    width:1250px;
    height:650px;
    border:7px solid #000;
}

.heading{
    width:1250px;
    height:30px;
    border:2px solid #000;
    background-color: rgb(255, 204, 255);
}

.buttonDiv{
    width:1250px;
    height:20px;
    border:2px solid #000;
    background-color: rgb(255, 204, 255);
}

.electronic{
    width:200px;
    height:600px;
    font: left;
    border:2px solid #000;
    display:inline-block;
    background-color: rgb(255, 204, 255);
}

.autoMobiles{
    width:200px;
    height:600px;
    border:2px solid #000;
    display:inline-block;
    background-color: rgb(255, 204, 255);
}

.clothing{
    width:200px;
    height:600px;
    border:2px solid #000;
    display:inline-block;
    background-color: rgb(255, 204, 255);
}

.paraDiv{
    margin-top: 200px;
    margin-right: 250px;
    width: 550px;
    float: right;
}

.leftdiv{
    background-color:rgb(255, 230, 255);
    width: 1250px;
    height: 600px;
    float: left;
}

.electronicSpan{
    margin-left:250px;
    display:inline-block;
}

.automobileSpan{
    display:inline-block;
}

.clotheSpan{
    margin-right:250px;
    display:inline-block;
}

.hamburger{
    border-top: double;
}

.pin{
    margin-left: 100px;
    -webkit-transform: rotate(90deg);
}

.opacity{
    background-color:rgba(255, 204, 255, 0.1);
    filter: alpha(opacity=10);
}

.angle {
    -webkit-transform: rotate(95deg);
}